* {
    margin: 0px;
    padding: 0%;
    font-family: "DM Sans", Sans-serif;
}
header {
    background-color: #caf0f8;
    
    
}
h1 { 
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0px;
    text-align: center;
    text-decoration: underline blue  ;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: #003366;
    font-size: 2.5rem;
}
#nevbar {
    background-color: #2b6777;
    height: 50px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    

}
a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

#foot {
    background-color: #333;
    color: white;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;

}
#content {
    min-height: 85vh;
    padding: 40px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;

}